.designLogin {
    width: 100vw;
    height: 92vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #00ce7c;
}

.loginForm {
    height: 20em;
    width: 20em;

    font-size: 2em;

    background-color: #ffffff;

    outline: 2px solid #000000;

    border-radius: 7px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.designFormulario {
    height: 10em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inputcito {
    height: 3em;
    width: 18em;

    font-size: 1em;

    border-radius: 7px;
}

.loginButton {
    height: 2em;
    width: 6em;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: 2px solid #000000;
    border-radius: 20px;

    background-color: #ffdd00;


}

.loginButton:hover {
    font-weight: bold;

    border-radius: 30px;

    transition: 0.1s;

    cursor: pointer;
}